
/* HEADER */
.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
}

.banner p {
    font-size: 20px;
    color: white;
    opacity: 0,2;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* FORM */
.input-place {
    background-color: white;
    border-radius: 0.2em;
    border:0.16em solid rgba(255,255,255,0);
}

.submit-button {
    background-color: #d23332;
    color : white;
    border-radius: 0.2em;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    padding:0.2em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    box-sizing: border-box;
    text-decoration:none;
}

.submit-button:hover {
    border-color: rgba(255,255,255,1);
}

@media all and (max-width:30em) {
    .submit-button {
        display:block;
        margin:0.2em auto;
    }
}

/* LOADER */


/* MAP */
#map {
    margin: 16px auto;
    height: 500px;
    width: 500px;
}

/* FOOTER */
.footer {
    background: #24292e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: white;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}

.footer-links a:hover {
    color: #d23332;
}

.footer .fa-heart {
    color: #D23333;
}
