
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block container %}

    <!-- HEADER -->
    <div class="banner">
        <div class="banner-header">
            <a href="http://127.0.0.1:5000/"> <h1>GrandPyBot</h1></a>
            <p><strong>Challenge his knowledge !</strong></p>
        </div>
        <div class="banner-form">
            <form>
                {{ form.csrf_token }}
                {{ form.question(class="input-place", placeholder="Enter a place you want GrandPy to speak you about") }}
                {{ form.submit(class="submit-button", value="Search") }}
            </form>
        </div>
        <div class="banner-image">
        </div>
    </div>
        <!-- FORM -->
    <!-- RESPONSE -->
    <div id="chat">
        <div id="chat-user">
        </div>
        <div id="chat-bot">
            <div id="map">
            </div>
        </div>
    </div>

{% endblock %}
