
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block container %}

    <!-- NAVBAR -->
    <nav class="navbar navbar-dark bg-dark fixed-top" id="navbar">
        <div class="container-fluid">
            <!-- BRAND -->
            <div class="container-sm">
                <a class="navbar-brand" href="https://gd-py-bot.herokuapp.com/"> <h1>GrandPyBot</h1> </a>
                <p><strong>Challenge his knowledge !</strong></p>
            </div>
            <!-- FORM -->
            <form class="d-flex">
                {{ form.csrf_token }}
                {{ form.question(type="text", class="form-control me-2", id="input-place", placeholder="Enter a place") }}
                {{ form.submit(type="submit", class="btn btn-outline-light", id="submit-button", value="Search") }}
            </form>
        </div>
    </nav>

    <!-- RESPONSE -->
    <div id="chat">
        <div id="chat-user">
        </div>
        <div id="chat-bot">
            <div id="map">
            </div>
        </div>
    </div>

{% endblock %}
