
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<!-- HEADER -->
<div class="banner" style="background-image: linear-gradient(rgba(36,41,46,0.4),rgba(36,41,46,0.4)), url(static/images/bot.jpg);">
    <div class="container">
        <h1>Grand Py Bot</h1>
        <p>Challenge his knowledge !</p>
    </div>
    <!-- FORM -->
    <form id="form-place">
        <div class="form-group">
            <input type="text" class="form-control" id="input_place" name="question" placeholder="Enter a place">
        </div>
        <button type="submit" class="btn btn-danger"><i class="fas fa-search"></i> Search</button>
    </form>
</div>

<!-- RESPONSE -->
<div id="response">
</div>

<!-- MAP -->
<div id="map">
</div>
{% endblock %}
